<div class="container">
    <h4>Thêm tài khoản</h4>
    <form method="POST" action="/themnguoidung">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Tên Đăng Nhập</label>
          <input type="text" class="form-control" id="TenDangNhap" name="TenDangNhap">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Mật Khẩu</label>
            <input type="text" class="form-control" id="MatKhau" name="MatKhau">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Email</label>
            <input type="text" class="form-control" id="Email" name="Email">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Vai trò</label>
            <input type="text" class="form-control" id="VaiTro" name="VaiTro">
        </div>
        <button type="submit" class="btn btn-primary" style="margin-left: 1030px;margin-top: 10px;">Submit</button>
    </form>
</div>