<div class="container">
    <h4 class="btn btn-primary">Thêm danh mục bài viết</h4>
    <form method="post" action="/themdanhmuc">
        <div class="mb-3">
          <label for="TenDanhMuc" class="form-label">Tên Danh Mục</label>
          <input type="text" class="form-control" id="TenDanhMuc" name="TenDanhMuc">
        </div>
        <div class="mb-3">
            <label for="MoTaDanhMuc" class="form-label">Mô Tả Danh Mục</label>
            <input type="text" class="form-control" id="MoTaDanhMuc" name="MoTaDanhMuc">
        </div>
        <button type="submit" class="btn btn-primary" style="margin-left: 1030px;margin-top: 10px;">Submit</button>
    </form>
</div>